extends layout

block scripts
    script(src=url_for('static', filename='cut.js'))

block content
    h1(class='text-center') #{title}
    div(class='hidden',id='file') #{filename}
    div(class='well text-center',err=err,id='err') 
        if err
            |#{err}
        else
            |Your wires for #{filename} are being cut!
        div(class='text-center') Here is a cute kitten while you wait:
        div
            image(src=url, class='img-rounded', id='kitten')